{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <title>Tarea</title>
</head>
<body>
    <div class="container">
        {% include 'app_de_IN3501/menu.html' %}
        <h1>IN3501</h1>
        <div id="todos_usuarios">
           	<h2>Todos los usuarios</h2>
           	<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">id</th>
			      <th scope="col">Nombre</th>
			      <th scope="col">Apelido</th>
			      <th scope="col">Direccion</th>
			      <th scope="col">Rut</th>
			      <th scope="col">PSU</th>
			    </tr>
			  </thead>
			  <tbody>
			  	{% for value in usuarios %}
			    <tr>
			      <td>{{value.pk}}</td>
			      <td>{{value.nombre}}</td>
			      <td>{{value.apellido}}</td>
			      <td>{{value.direccion}}</td>
			      <td>{{value.rut}}</td>
			      <td>{{value.puntaje_psu}}</td>
			    </tr>
			    {% endfor %}
			  </tbody>
			</table>
        </div>
        <div id="mayores_700">
           	<h2>Usuarios con puntaje mayor a 700</h2>
           	<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">id</th>
			      <th scope="col">Nombre</th>
			      <th scope="col">Apelido</th>
			      <th scope="col">Direccion</th>
			      <th scope="col">Rut</th>
			      <th scope="col">PSU</th>
			    </tr>
			  </thead>
			  <tbody>
			  	{% for value in may_700 %}
			    <tr>
			      <td>{{value.pk}}</td>
			      <td>{{value.nombre}}</td>
			      <td>{{value.apellido}}</td>
			      <td>{{value.direccion}}</td>
			      <td>{{value.rut}}</td>
			      <td>{{value.puntaje_psu}}</td>
			    </tr>
			    {% endfor %}
			  </tbody>
			</table>
        </div>
        <div id="menores_700">
           	<h2>Usuarios con puntaje mayor a 700</h2>
           	<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">id</th>
			      <th scope="col">Nombre</th>
			      <th scope="col">Apelido</th>
			      <th scope="col">Direccion</th>
			      <th scope="col">Rut</th>
			      <th scope="col">PSU</th>
			    </tr>
			  </thead>
			  <tbody>
			  	{% for value in men_700 %}
			    <tr>
			      <td>{{value.pk}}</td>
			      <td>{{value.nombre}}</td>
			      <td>{{value.apellido}}</td>
			      <td>{{value.direccion}}</td>
			      <td>{{value.rut}}</td>
			      <td>{{value.puntaje_psu}}</td>
			    </tr>
			    {% endfor %}
			  </tbody>
			</table>
        </div>
    </div>
</body>
</html>